<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>

  <header>
      <nav>
          <a href="/">Home Page</a>
          <a href="/restaurants">All restaurants</a>
          <a href="/users">Show Users</a>
          <% if (user) { %>
            <% if(user.userType == "admin"){ %>
                <a href="/restaurants/new">Add restaurants</a>
                <a href="/users/<%= user._id %>"><%= user.name %></a>
            <% }else if(user.userType == "user"){ %>
                <a href="/users/<%= user._id %>"><%= user.name %></a>
            <% } %>
            <a href="/logout">LOG OUT</a>
          <% } else { %>
            <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
          <% } %>
      </nav>
  </header>  
    
