<%- include('./partials/header') %>

<h2><%- title %></h2>

<main>
  <div class="container">
    <div class="home-text">
      <h3>
        <span>Welcome</span> <br />
        To Restaurant Food Review
      </h3>
      <p class="main-home-text"></p>
      <p>
        To explore new resturants and dishes , share new experience with others.
      </p>
      <img src="/images/main-page/yangskitchen_home.jpg" class="homeimage" />
    </div>

    <div class="recommendation">
      <h3 class="recommendedTitle">Recommended Resturant</h3>
      <div class="row">
        <div class="col-12 chevrons">
          <!-- <a class="text-dark" href="#myCarousel" role="button" data-slide="prev">
              <span class="fa fa-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="text-dark" href="#myCarousel" role="button" data-slide="ne  xt">
              <span class="fa fa-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a> -->
        </div>
      </div>
      <div class="container text-center my-3">
        <div class="row mx-auto my-auto">
          <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <% let act="active"; %>
              <div class="carousel-item py-5 <%= act %>">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                  <% restaurants.forEach((restaurant) => { %>
                    <div class="col-sm-3">
                      <div class="card">
                        <div class="card-body">
                          <img src="<%= restaurant.image.src %>" alt="<%= restaurant.name %>" class="dish" />
                          <h4 class="card-title"><a href="/restaurants/<%= restaurant._id %>"><%= restaurant.name %></a></h4>
                          <h5 class="card-text">Rating</h5>
                          <p class="card-text">
                            <% let count=0; %>
                            <% let total=0; %>
                            <% let avr=0 %>
                            <% restaurant.menu.forEach ((item, i) => { %>
                              <% item.reviews.forEach ((review , r) => { %>
                                <% total += review.rating; %>
                                <% count++;%>
                              <% }); %>
                            <% }); %>
                            <% if (total ===0) {%>
                              No Reviews Yet
                            <% }else {%>
                              <% avr= total/count %>
                              <%= avr %>
                            <% } %>
                          </p>
                        </div>
                      </div>
                    </div>
                  <% act="" }); %>
                </div>
                <button class="carousel-control-prev" data-bs-target="#myCarousel" role="button"href="#myCarousel" data-slide="prev" type="button">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" role="button" data-bs-slide="next" data-bs-target="#myCarousel" type="button">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <!-- <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a
              class="carousel-control-next"
              href="#myCarousel"
              role="button"
              data-slide="next"
            >
            <span
              class="carousel-control-next-icon"
              aria-hidden="true"
            ></span>
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
</main>

<%- include('./partials/footer') %>
