<%- include('../partials/header') %>

<br>
<br>
<br>
<br>

<h2><%- title %></h2>

<div class="col-xl-6 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title"><%= restaurant %></h4>
        </div>

        <% if(user?.userType == 'admin'){ %>
        <div class="card-body">
            <div class="basic-form" style="max-width: 400px;">
                <form id="new-form" action="/restaurants/<%= restaurant._id %>/items" method="POST" enctype="multipart/form-data">

                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label>Name </label>
                            <input type="text" name="name" required>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="image">Image </label>
                            <input type="file" id="image" name="file">
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="type">Type </label>   
                            <input type="text" name="type" id="type">
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="description">Description </label>   
                            <textarea name="description" id="description"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="price">Price </label>   
                            <input type="text" name="price" id="price">
                        </div>
                    </div>
                    <input type="submit" value="Add Item">
                </form>
                <% } %>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>