<%- include('../partials/header') %>


<br>
<br>
<br>
<br>
<% if (errorMessages && errorMessages.length > 0) { %>
    <div class="alert alert-danger d-flex justify-content-between">
      <div class="alert-body">
        <% errorMessages.forEach(message => { %>
          <p><%= message %></p>
        <% }); %>
      </div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<h2><%- title %></h2>

<div class="col-xl-6 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title"><%= restaurant.name %></h4>
        </div>

        <% if(user?.userType == 'admin'){ %>
        <div class="card-body">
            <div class="basic-form">
                <form action="/restaurants/<%= restaurant._id %>/items" method="POST" enctype="multipart/form-data">

                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="name" class="form-label">Name </label>
                            <input type="text" name="name" id="name" class="form-control" required value="<%= errors?!errors.name?formBody?formBody.name:'':'':'' %>">
                            <% if(errors && errors.name){ %>
                                <span><%= errors.name.msg %></span>
                            <%  }%>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="image" class="form-label">Image </label>
                            <input type="file" id="image" class="form-control form-control-sm" name="file">
                            <% if(errors && errors.file){ %>
                                <span><%= errors.file.msg %></span>
                            <%  }%>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="type" class="form-label">Type </label>   
                            <input type="text" name="type" id="type" class="form-control" value="<%= errors?!errors.type?formBody?formBody.type:'':'':'' %>">
                            <% if(errors && errors.type){ %>
                                <span><%= errors.type.msg %></span>
                            <%  }%>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="description" class="form-label">Description </label>   
                            <textarea name="description" id="description" class="form-control"><%= errors?!errors.description?formBody?formBody.description:'':'':'' %></textarea>
                            <% if(errors && errors.description){ %>
                                <span><%= errors.description.msg %></span>
                            <%  }%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="price" class="form-label">Price </label>   
                            <input type="text" name="price" id="price" class="form-control" value="<%= errors?!errors.price?formBody?formBody.price:'':'':'' %>">
                            <% if(errors && errors.price){ %>
                                <span><%= errors.price.msg %></span>
                            <%  }%>
                        </div>
                    </div>
                    <input type="submit" value="Add Item">
                </form>
                <% } %>
            </div>
        </div>
    </div>
</div>



<%- include('../partials/footer') %>