<%- include('../partials/header') %>

<div class="indexPageContainer"></div>
<!-- title provided by controller for users index -->
<!-- title provided by controller for users index -->
<h2 class="allUsersTitle"><%- title %></h2>

<div class="divider">
	<img src="/images/divider/divider.jpg" class="dividerImage"/>
  </div>

<div class="containerUsers text-center my-3">
	<div class="row mx-auto my-auto">
		<div class="grid-item">
			<div class="row">
				<!-- for each user in the list do the following -->
				<% dbUsers.forEach((dbUser, i) => { %>
					<div class="col">
						<div class="userCard card">
							<div class="card-body">
								<!-- show user avatar -->
								<img class="userAvatar" src="<%= dbUser.avatar %>" alt="user avatar" referrerpolicy="no-referrer">
								<!-- show user name -->
								<ul class="list-group list-group-flush">
									<li class="list-group-item"><a href="/users/<%= dbUser._id %>"><%= dbUser.name %></a></li>
								<!-- if user is loged in -->
								<% if (user) { %>
									<!-- if user is admin -->
									<% if(user.userType == "admin"){ %>
										<li class="list-group-item"><strong>E-mail:</strong>
											<br><%= dbUser.email %></li>
											<form id="edit-userType-form##<%= i %>" action="/users/<%= dbUser._id %>?_method=PUT" method="POST">
										<!-- show user type and option to change-->
											<li class="list-group-item"><strong>Privileges:</strong>
												<br>
												 <!-- if admin show radio buttons with admin selected -->
															
												<input type="radio" id="admin#<%= i %>" name="userType" value="admin" <%= (dbUser.userType == "admin")? 'checked' : '' %>>
												<label for="admin">Admin</label>
												<input type="radio" id="user#<%= i %>" name="userType" value="user" <%= (dbUser.userType == "user")? 'checked' : '' %>>
												<label for="user">user</label>
											</li>
											
											<div class="flex-button">
											<!-- if normal user show radio buttons with user selected -->
											<li><button class="allUsersBtns" type="submit"><img style="width: 20px;" src="/images/icons/icons/edit.png" alt="DELETE"></button></li>
										</form>
										<!-- delete user using id and method overide DELETE -->
										<li><form action="/users/<%= dbUser._id %>?_method=DELETE" method="POST">
											<button class="allUsersBtns"><img style="width: 20px;" src="/images/icons/icons/delete.png" alt="DELETE"></button>
										</form></li>
									</div>

									<% } %>    
									<!-- maybe add follow button if there is time  -->
								<% } %>
							</ul>
							</div>
						</div>
					</div>
				<% }); %>
			</div>
		</div>
	</div>
</div>


<%- include('../partials/footer') %>