<%- include('../partials/header') %>

<br>
<br>
<br>
<br>
<br>

<!-- title provided by controller for users index -->
<h2><%- title %></h2>

<div class="container text-center my-3">
	<div class="row mx-auto my-auto">
		<div class="grid-item">
			<div class="row">
				<!-- for each user in the list do the following -->
				<% dbUsers.forEach((dbUser, i) => { %>
					<div class="col-sm-3">
						<div class="card">
							<div class="card-body">
								<!-- show user avatar -->
								<img src="<%= dbUser.avatar %>" alt="user avatar" referrerpolicy="no-referrer">
								<!-- show user name -->
								<h2><a href="/users/<%= dbUser._id %>"><%= dbUser.name %></a></h2>

								<!-- if user is loged in -->
								<% if (user) { %>
									<!-- if user is admin -->
									<% if(user.userType == "admin"){ %>
										<h2><%= dbUser.email %></h2>
										<!-- show user type and option to change-->
										<form id="edit-userType-form##<%= i %>" action="/users/<%= dbUser._id %>?_method=PUT" method="POST">
											<lable>Prevlages</label>
											<!-- if admin show radio buttons with admin selected -->
															
											<input type="radio" id="admin#<%= i %>" name="userType" value="admin" <%= (dbUser.userType == "admin")? 'checked' : '' %>>
											<label for="admin">Admin</label>
											<input type="radio" id="user#<%= i %>" name="userType" value="user" <%= (dbUser.userType == "user")? 'checked' : '' %>>
											<label for="user">user</label>
											<!-- if normal user show radio buttons with user selected -->
											
											<input type="submit" value="Update user">
										</form>
										<!-- delete user using id and method overide DELETE -->
										<form action="/users/<%= dbUser._id %>?_method=DELETE" method="POST">
											<button>DELETE</button>
										</form>
									<% } %>    
									<!-- maybe add follow button if there is time  -->
								<% } %>
							</div>
						</div>
					</div>
				<% }); %>
			</div>
		</div>
	</div>
</div>

<%- include('../partials/footer') %>