<%- include('../partials/header') %>


<div class="viewUser">
	<% if (successMessages && successMessages.length > 0) { %>
		<div class="alert alert-success d-flex justify-content-between">
		  <div class="alert-body">
			<% successMessages.forEach(message => { %>
			  <p><%= message %></p>
			<% }); %>
		  </div>
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	<% } %>
	  
	<% if (errorMessages && errorMessages.length > 0) { %>
		<div class="alert alert-danger d-flex justify-content-between">
		  <div class="alert-body">
			<% errorMessages.forEach(message => { %>
			  <p><%= message %></p>
			<% }); %>
		  </div>
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	<% } %>
	<div class="card mb-3">
	  <div class="card-header">
		<h4 class="card-title"><%- title %></h4>
	  </div>
	  <div class="card-body">
		<div class="row g-0">
		  <div class="col-md-12 text-center">
			<!-- show user avatar -->
			<img class="showProfileImg" src="<%= dbUser.avatar %>" alt="user avatar" referrerpolicy="no-referrer">
		  </div>
		  <div class="col-md-8 offset-md-2">
			<div class="profile-details mt-4">
			  <!-- show user name -->
			  <p style="text-align:center;" class="card-text"><strong>Name: </strong><%= dbUser.name %></p>
			  <hr>
			  <!-- if user is logged in -->
			  <% if (user) { %>
				<!-- if user is admin -->
				<% if(user.userType == "admin"){ %>
				  <div class="admin-details">
					<strong>E-mail: </strong><h6><%= dbUser.email %></h6>
					<!-- show user type and option to change -->
					<form id="edit-userType-form" action="/users/<%= dbUser._id %>?_method=PUT" method="POST">
					  <div class="form-group">
						<strong>Privileges: </strong>
						<!-- if admin show radio buttons with admin selected -->
						<div class="form-check">
						  <input class="form-check-input" type="radio" id="admin" name="userType" value="admin" <%= (dbUser.userType == "admin")? 'checked' : '' %>>
						  <label class="form-check-label" for="admin">Admin</label>
						</div>
						<!-- if normal user show radio buttons with user selected -->
						<div class="form-check">
						  <input class="form-check-input" type="radio" id="user" name="userType" value="user" <%= (dbUser.userType == "user")? 'checked' : '' %>>
						  <label class="form-check-label" for="user">User</label>
						</div>
						<div class="flex-button">
							<button class="allUsersBtns" type="submit"><img style="width: 20px;" src="/images/icons/icons/edit.png" alt="EDIT"></button>
					</form>
					<!-- delete user using id and method override DELETE -->
					<form action="/users/<%= dbUser._id %>?_method=DELETE" method="POST">
					  <div class="form-group">
						<button class="allUsersBtns"><img style="width: 20px;" src="/images/icons/icons/delete.png" alt="DELETE"></button>
					  </div>
					</form>
				</div>
				  </div>
					</div>
				<% } %>
				<!-- maybe add a follow button if there is time -->
			  <% } %>
			</div>
		  </div>
		</div>
	  </div>
	
	<div class=" showUserGroup card-group row">
		<% let counter = 0 %>
		<!-- go through all restaurants -->
		<% restaurants.forEach((restaurant, r) => { %>
			<!-- go through all of the restaurant's items -->
			<% restaurant.menu.forEach ((item, i) => { %>
				<!-- go through all of the items reviews -->
				<% item.reviews.forEach ((review, w) => { %>
					<!-- if the review is made by the selected user -->
					<% if (JSON.stringify(review.user) == JSON.stringify(dbUser._id)) {%>
						<div class="showCardUser card col-md-6" style="max-width: 580px;">
							<div class="card-header col">
								<!-- show restaurant logo -->
								<div class="col-md-6">
									<img  class="imageShow"  src="<%= restaurant.image.src %>" alt="logo" referrerpolicy="no-referrer" style="max-block-size: 100px ;">
								</div>
								<!-- show restaurant name -->
								<div class="titleShowCate">
									<h3 class="card-title-restuarantLink row-md-6"><a href="/restaurants/<%= restaurant._id %>"><%= restaurant.name %></a></h3>
								</div>
							</div>
							<div class="card-body row">
								<!-- show item image -->
								<img class="col-md-3" src="<%= item.image.src %>" alt="Item image" referrerpolicy="no-referrer" style="max-block-size: inherit ;">
								<!-- show the item name -->
								<div class="col-md-9">
									<div class="row">
										<div class="col">
											<h4><%= item.name %></h4>
										</div>
									</div>
									<!-- if user is loged in -->
									<% if(user) { %>
										<!-- if the loged in user is the same user selected or admin -->
										<% if(JSON.stringify(user._id) == JSON.stringify(dbUser._id) || user.userType == "admin") {%>
											<div class="row">
												<div class="col-md-12">
													<div class="row">
														<!-- show the edit form -->
														<form class="col-md-10" action="/restaurants/<%= restaurant._id %>/items/<%= item._id %>/reviews/<%= review._id %>?_method=PUT" method="post">
															<div class="row">
																<input type="hidden" name="user" value="<%= user._id %>">
																<input type="hidden" name="userName" value="<%= user.name %>">
																<input type="hidden" name="userAvatar" value="<%= user.avatar %>">
																<div class="col-md-8">
																	<!-- show the comment with the user review filled in -->
																	<label for="comment#<%= r %><%= i %><%= w %>">Comment</label>
																	<textarea name="comment" id="comment#<%= r %><%= i %><%= w %>"><%= review.comment %></textarea>
																</div>
																<div class="col-md-3">
																	<!-- show the user's rating for the item -->
																	<label for="rating#<%= r %><%= i %><%= w %>">Rating</label>
																	<select name="rating" id="rating#<%= r %><%= i %><%= w %>">
																		<option value="1" <%= review.rating == 1?'selected': '' %>>*</option>
																		<option value="2" <%= review.rating == 2?'selected': '' %>>**</option>
																		<option value="3" <%= review.rating == 3?'selected': '' %>>***</option>
																		<option value="4" <%= review.rating == 4?'selected': '' %>>****</option>
																		<option value="5" <%= review.rating == 5?'selected': '' %>>*****</option>
																	</select>
																</div>
																<button class="row-md-2">Edit</button>
															</div>
														</form>
														<!-- show the delete button -->
														<form class ="col-md-2" action="/restaurants/<%= restaurant._id %>/items/<%= item._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
															<div class="row">
																	<button class="btn btn-danger"> X </button>
															</div>
														</form>
													</div>
												</div>
											</div>
												
										<!-- if loged in user is normal user and not owner of the reviews -->
										<% } else { %>
											<!-- show comment and rating -->
											<h5>Comment</h5>
											<p><%= review.comment %></p>
											<h5>Rating</h5>
											<p><%= review.rating %></p> 
										<% } %> 
									<!-- if no user is loged in -->
									<% } else { %>
											<!-- show comment and rating -->
											<h5>Comment</h5>
											<p><%= review.comment %></p>
											<h5>Rating</h5>
											<p><%= review.rating %></hp> 
									<% } %>
								</div>
							</div>   
						</div>
						<!-- force break row before every 3rd item or after the last menu item -->
						<% if (((counter-2) % 3) == 0) { %>
							<div class="w-100"></div>
						<% } %>
						<% counter++ %>
					<% }; %>
				<% }); %>
			<% }); %>
		<% }); %>
	</div>



<%- include('../partials/footer') %>