<%- include('../partials/header') %>

<h2><%- title %></h2>

<form id="new-form" action="/restaurants/<%= restaurant._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
  <label>name:</label>
  <input type="text" name="name" value="<%= errors?errors.name?formBody?formBody.name:restaurant.name:restaurant.name:restaurant.name %>">
  <% if(errors && errors.name){ %>
    <span><%= errors.name.msg %></span>
  <%  }%>
  <label>description:</label>
  <input type="text" name="description" value="<%= errors?errors.description?formBody?formBody.description:restaurant.description:restaurant.description:restaurant.description %>">
  <% if(errors && errors.description){ %>
    <span><%= errors.description.msg %></span>
  <%  }%>
  <label for="">categories</label>
  <% categories.forEach((category, i) => { %>
    <% console.log(`trial#${i}`); %>
    <% let result = RestaurantCategories.findIndex(RCategory => {return JSON.stringify(RCategory._id) == JSON.stringify(category._id)}) + 1 %>
    <input type="checkbox" name="categories[]" value="<%= category._id %>" id="category#<%= i %>"<%= result?'checked':''%>>
    <label for="category#<%= i %>"><%= category.name %></label>
  <%}); %>
  <label for="image">image</label>
  <img src="<%= restaurant.image.src %>" alt="<%= restaurant.name %>" referrerpolicy="no-referrer">
  <input type="file" id="image" name="file">
  <% if(errors && errors.file){ %>
    <span><%= errors.file.msg %></span>
  <%  }%>
  <label for="deleteImg">Do you want to delete the img</label>
  <input type="checkbox" name="deleteImg" id="deleteImg" value="1">
  <h4>Address</h4>
  <label>shopNumber:</label>
  <input type="text" name="address.shopNumber" value="<%= errors?errors['address.shopNumber']?formBody?formBody['address.shopNumber']: restaurant.address.shopNumber:restaurant.address.shopNumber:restaurant.address.shopNumber %>">
  <% if(errors && errors['address.shopNumber']){ %>
    <span><%= errors['address.shopNumber'].msg %></span>
  <%  }%>
  <label>building</label>   
  <input type="text" name="address.building" value="<%= errors?errors['address.building']?formBody?formBody['address.building']:restaurant.address.building:restaurant.address.building:restaurant.address.building %>">
  <% if(errors && errors['address.building']){ %>
    <span><%= errors['address.building'].msg %></span>
  <%  }%>
  <label>road</label>   
  <input type="text" name="address.road" value="<%= errors?errors['address.road']?formBody?formBody['address.road']: restaurant.address.road:restaurant.address.road:restaurant.address.road %>">
  <% if(errors && errors['address.road']){ %>
    <span><%= errors['address.road'].msg %></span>
  <%  }%>
  <label>city</label>   
  <input type="text" name="address.city" value="<%=  errors?errors['address.city']?formBody?formBody['address.city']: restaurant.address.city:restaurant.address.city:restaurant.address.city %>">
  <% if(errors && errors['address.city']){ %>
    <span><%= errors['address.city'].msg %></span>
  <%  }%>
  <label>block</label>   
  <input type="text" name="address.block" value="<%= errors?errors['address.block']?formBody?formBody['address.block']: restaurant.address.block:restaurant.address.block:restaurant.address.block %>">
  <% if(errors && errors['address.block']){ %>
    <span><%= errors['address.block'].msg %></span>
  <%  }%>
  <label>country</label>   
  <input type="text" name="address.country" value="<%= errors?errors['address.country']?formBody?formBody['address.country']:restaurant.address.country:restaurant.address.country:restaurant.address.country %>">
  <% if(errors && errors['address.country']){ %>
    <span><%= errors['address.country'].msg %></span>
  <%  }%>
  <input type="submit" value="Update Restaurant">
</form>

<%- include('../partials/footer') %>