<%- include('../partials/header') %>

<div class="editRestaurantPage">
<% if (errorMessages && errorMessages.length > 0) { %>
  <div class="alert alert-danger d-flex justify-content-between">
    <div class="alert-body">
      <% errorMessages.forEach(message => { %>
        <p><%= message %></p>
      <% }); %>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<h2 class="titleEditRestaurant"><%- title %></h2>

<div class="divider">
  <img src="/images/divider/divider.jpg" class="dividerImage"/>
</div>

<div class="editRestaurant">
  <form id="new-form" action="/restaurants/<%= restaurant._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
    <div class="card" style="max-width: 600px;">
      <div class="card-body">
        <div class="container basic-form">
          <div class="rowEditRestaurant">
            <img class="editRestaurantImage" src="<%= restaurant.image.src %>" alt="<%= restaurant.name %>" referrerpolicy="no-referrer">
          </div>
          <div class="rowEditImage">
            <label for="image" class="form-label col-12">Image</label>
            <input class="col-12 form-control form-control-sm" name="file" id="image" type="file">
            <% if(errors && errors.file){ %>
              <span><%= errors.file.msg %></span>
            <%  }%>
          
            <label for="deleteImg" class="form-label col-6">Do you want to delete the image ? </label>
            <input type="checkbox" class="form-check-input col-6" name="deleteImg" id="deleteImg" value="1">
          </div>
          <div class="row">
            <div class="col-12 name">
              <label class="form-label">Name</label>
              <input type="text" class="form-control" name="name" value="<%= errors?errors.name?formBody?formBody.name:restaurant.name:restaurant.name:restaurant.name %>">
              <% if(errors && errors.name){ %>
                <span><%= errors.name.msg %></span>
              <%  }%>
            </div>
          </div>
          <div class="row">
            <div class="col-12 description">
              <label class="form-label">Description</label>
              <textarea  name="description" class="form-control" name="description"><%= errors?errors.description?formBody?formBody.description:restaurant.description:restaurant.description:restaurant.description %></textarea>
              <% if(errors && errors.description){ %>
                <span><%= errors.description.msg %></span>
              <%  }%>
            </div>
          </div>
      <div class="categories">
                <label class="form-label">Categories</label>
                <% categories.forEach((category, i) => { %>
                  <div class="categoriesShow">
                    <div class="form-check form-check-inline">
                      <input type="checkbox" name="categories[]" class="form-check-input" value="<%= category._id %>" id="category#<%= i %>">
                      <label class="form-check-label" for="category# <%= i %>">
                        <%= category.name %>
                      </label>
                    </div>
                  </div>
                <%}); %>    
              </div>

          <div class="row px-2">
            <fieldset class="form-group border mb-3 col-md-12">
              <legend>Address</legend>
              <div class="row">
                <div class="col-md-6">
                  <label class="form-label">Shop Number</label>
                  <input type="text" name="address.shopNumber" class="form-control" value="<%= errors?errors['address.shopNumber']?formBody?formBody['address.shopNumber']:restaurant.address.shopNumber:restaurant.address.shopNumber:restaurant.address.shopNumber %>">
                  <% if(errors && errors['address.shopNumber']){ %>
                    <span><%= errors['address.shopNumber'].msg %></span>
                  <%  }%>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Building</label>
                  <input type="text" name="address.building" class="form-control" value="<%= errors?errors['address.building']?formBody?formBody['address.building']:restaurant.address.building:restaurant.address.building:restaurant.address.building %>">
                  <% if(errors && errors['address.building']){ %>
                    <span><%= errors['address.building'].msg %></span>
                  <%  }%>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label class="form-label">Road</label>
                  <input type="text" name="address.road" class="form-control" value="<%= errors?errors['address.road']?formBody?formBody['address.road']:restaurant.address.road:restaurant.address.road:restaurant.address.road %>">
                  <% if(errors && errors['address.road']){ %>
                    <span><%= errors['address.road'].msg %></span>
                  <%  }%>
                </div>
                <div class="col-md-6">
                  <label class="form-label">Block</label>
                  <input type="text" name="address.block" class="form-control" value="<%= errors?errors['address.block']?formBody?formBody['address.block']:restaurant.address.block:restaurant.address.block:restaurant.address.block %>">
                  <% if(errors && errors['address.block']){ %>
                    <span><%= errors['address.block'].msg %></span>
                  <%  }%>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label class="form-label">City</label>
                  <input type="text" name="address.city" class="form-control" value="<%= errors?errors['address.city']?formBody?formBody['address.city']:restaurant.address.city:restaurant.address.city:restaurant.address.city %>">
                  <% if(errors && errors['address.city']){ %>
                    <span><%= errors['address.city'].msg %></span>
                  <%  }%>
                </div> 
                <div class="col-md-6">     
                  <label class="form-label">Country</label>
                  <input type="text" name="address.country" class="form-control" value="<%= errors?errors['address.country']?formBody?formBody['address.country']:restaurant.address.country:restaurant.address.country:restaurant.address.country %>">
                  <% if(errors && errors['address.country']){ %>
                    <span><%= errors['address.country'].msg %></span>
                  <%  }%> 
                  <br>
                </div> 
              </div> 
              <div class="row">
                <div class="col-md-6">
                  <label class="form-label">Plus Code</label>
                  <input type="text" name="address.plusCode" class="form-control" value="<%= errors?errors['address.plusCode']?formBody?formBody['address.plusCode']:restaurant.address.plusCode:restaurant.address.plusCode:restaurant.address.plusCode %>">
                  <% if(errors && errors['address.plusCode']){ %>
                    <span><%= errors['address.plusCode'].msg %></span>
                  <%  }%>
                </div> 
              </div> 
            </fieldset> 
          </div> 
      
          <div class="updateRestaurantSubmit">
            <input class="updateRestaurantInput" type="submit" value="Update Restaurant">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</div>

<%- include('../partials/footer') %>