<%- include('../partials/header') %>

<br>
<br>
<br>
<br>
<br>

<% if (errorMessages && errorMessages.length > 0) { %>
  <div class="alert alert-danger d-flex justify-content-between">
    <div class="alert-body">
      <% errorMessages.forEach(message => { %>
        <p><%= message %></p>
      <% }); %>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<h2><%- title %></h2>

<div class="editRestaurant">
  <form id="new-form" action="/restaurants/<%= restaurant._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
    <div class="card" style="max-width: 400px;">
      <div class="card-header">
        <h4 class="card-title"><%- title %></h4>
      </div>
      <div class="card-body">
        <div class="container basic-form">
          <div class="row">
            <img src="<%= restaurant.image.src %>" alt="<%= restaurant.name %>" referrerpolicy="no-referrer">
          </div>
          <div class="row">
            <label for="image" class="form-label col-12">Image</label>
            <input class="col-12 form-control form-control-sm" name="file" id="image" type="file">
            <% if(errors && errors.file){ %>
              <span><%= errors.file.msg %></span>
            <%  }%>
          
            <label for="deleteImg" class="form-label col-6">Do you want to delete the img</label>
            <input type="checkbox" class="form-check-input col-6" name="deleteImg" id="deleteImg" value="1">
          </div>
          <div class="row">
            <div class="col-12 name">
              <label class="form-label">Name</label>
              <input type="text" class="form-control" name="name" value="<%= errors?errors.name?formBody?formBody.name:restaurant.name:restaurant.name:restaurant.name %>">
              <% if(errors && errors.name){ %>
                <span><%= errors.name.msg %></span>
              <%  }%>
            </div>
          </div>
          <div class="row">
            <div class="col-12 description">
              <label class="form-label">Description</label>
              <input type="text" class="form-control" name="description" value="<%= errors?errors.description?formBody?formBody.description:restaurant.description:restaurant.description:restaurant.description %>">
              <% if(errors && errors.description){ %>
                <span><%= errors.description.msg %></span>
              <%  }%>
            </div>
          </div>
          <div class="row">
            <div class="col-12 categories">
              <label class="form-label">categories</label>
              <% categories.forEach((category, i) => { %>
                <% let result = RestaurantCategories.findIndex(RCategory => {return JSON.stringify(RCategory._id) == JSON.stringify(category._id)}) + 1 %>
                <div class="categoriesShow">
                  <div class="form-check form-check-inline">
                    <label class="form-check-label"for="category#<%= i %>">
                      <input type="checkbox" class="form-check-input" name="categories[]" value="<%= category._id %>" id="category#<%= i %>"<%= result?'checked':''%>>
                      <%= category.name %>
                    </label> 
                  </div>
                </div>
              <%}); %>
            </div>
          </div>

          <div class="row">
            <fieldset class="col-12 form-group border mb-3">
              <legend>Address</legend>
              <label class="form-label" for="shopNumber">Shop Number</label>
              <input type="text" class="form-control" name="address.shopNumber" id="shopNumber" value="<%= errors?errors['address.shopNumber']?formBody?formBody['address.shopNumber']: restaurant.address.shopNumber:restaurant.address.shopNumber:restaurant.address.shopNumber %>">
              <% if(errors && errors['address.shopNumber']){ %>
                <span><%= errors['address.shopNumber'].msg %></span>
              <%  }%>
              <label class="form-label" for="building">Building</label>   
              <input type="text" class="form-control" id="building" name="address.building" value="<%= errors?errors['address.building']?formBody?formBody['address.building']:restaurant.address.building:restaurant.address.building:restaurant.address.building %>">
              <% if(errors && errors['address.building']){ %>
                <span><%= errors['address.building'].msg %></span>
              <%  }%>
              <label class="form-label" for="road">Road</label>   
              <input type="text" class="form-control" id="road" name="address.road" value="<%= errors?errors['address.road']?formBody?formBody['address.road']: restaurant.address.road:restaurant.address.road:restaurant.address.road %>">
              <% if(errors && errors['address.road']){ %>
                <span><%= errors['address.road'].msg %></span>
              <%  }%>
              <label class="form-label" for="city">City</label>   
              <input type="text" class="form-control" id="city" name="address.city" value="<%=  errors?errors['address.city']?formBody?formBody['address.city']: restaurant.address.city:restaurant.address.city:restaurant.address.city %>">
              <% if(errors && errors['address.city']){ %>
                <span><%= errors['address.city'].msg %></span>
              <%  }%>
              <label class="form-label" for="block">Block</label>   
              <input type="text" class="form-control" id="block" name="address.block" value="<%= errors?errors['address.block']?formBody?formBody['address.block']: restaurant.address.block:restaurant.address.block:restaurant.address.block %>">
              <% if(errors && errors['address.block']){ %>
                <span><%= errors['address.block'].msg %></span>
              <%  }%>
              <label class="form-label" for="country">Country</label>   
              <input type="text" class="form-control" id="country" name="address.country" value="<%= errors?errors['address.country']?formBody?formBody['address.country']:restaurant.address.country:restaurant.address.country:restaurant.address.country %>">
              <% if(errors && errors['address.country']){ %>
                <span><%= errors['address.country'].msg %></span>
              <%  }%>

            </fieldset>
          </div>
          <button type="submit" class="col-12 btn light btn-add">Update Restaurant</button>
        </div>
      </div>
    </div>
  </form>
</div>

<%- include('../partials/footer') %>