<%- include('../partials/header') %>

<br>
<br>
<br>
<br>
<br>



<% if (successMessages && successMessages.length > 0) { %>
  <div class="alert alert-success d-flex justify-content-between">
    <div class="alert-body">
      <% successMessages.forEach(message => { %>
        <p><%= message %></p>
      <% }); %>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<% if (errorMessages && errorMessages.length > 0) { %>
  <div class="alert alert-danger d-flex justify-content-between">
    <div class="alert-body">
      <% errorMessages.forEach(message => { %>
        <p><%= message %></p>
      <% }); %>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<h2><%- title %></h2>
<div class="container text-center my-3">
  <div class="row mx-auto my-auto">
    <div class="grid-item">
      <div class="row">
        <% restaurants.forEach(restaurant => { %>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <img src="<%= restaurant.image.src %>" alt="<%= restaurant.name%>" class="dish">
                <h5>Restaurant Name</h5>
                <h5 class="card-title"><a href="/restaurants/<%= restaurant._id %>"><%= restaurant.name %></a></h5>
                <h5>Description</h5>
                <p><%= restaurant.description %></p>
                <h5>Categories</h5>
                <% restaurant.categories.forEach ((category) => { %>
                  <p class="type"><%= category.name %></p>
                <% }); %>
                <h5>Address</h5>
                <h6>Shop Number</h6>
                <p class="address"><%= restaurant.address.shopNumber %></p>
                <h6>Building</h6>
                <p class="address"><%= restaurant.address.building %></p>
                <h6>Shop Number</h6>
                <p class="address"><%= restaurant.address.road %></p>
                <h6>Road</h6>
                <p class="address"><%= restaurant.address.block %></p>
                <h6>City</h6>
                <p class="address"><%= restaurant.address.city %></p>
                <h6>Country</h6>
                <p class="address"><%= restaurant.address.country %></p>
                <h5>Over All Rating</h5>
                <p class="card-text">
                  <% let count=0; %>
                  <% let total=0; %>
                  <% let avr=0 %>
                  <% restaurant.menu.forEach ((item, i) => { %>
                    <% item.reviews.forEach ((review , r) => { %>
                      <% total += review.rating; %>
                      <% count++;%>
                    <% }); %>
                  <% }); %>
                  <% if (total ===0) {%>
                    No Reviews Yet
                  <% }else {%>
                    <% avr= total/count %>
                    <%= avr %>
                  <% } %>
                </p>
                <!-- if user is loged in -->
                <% if (user) { %>
                  <!-- if user is admin -->
                  <% if(user.userType == "admin"){ %>
                    <a href="/restaurants/<%= restaurant._id %>">Details</a>
                    <a href="/restaurants/<%= restaurant._id %>/edit">Edit</a>
                    <form action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST">
                      <button>DELETE Restaurant</button>
                    </form>
                  <% } %>    
                <% } %>
              </div>
            </div>
          </div>
        <%}); %>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>