<%- include('../partials/header') %>



<div class="indexAllRestaurantContainer">
<% if (successMessages && successMessages.length > 0) { %>
  <div class="alert alert-success d-flex justify-content-between">
    <div class="alert-body">
      <% successMessages.forEach(message => { %>
        <p><%= message %></p>
      <% }); %>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<% if (errorMessages && errorMessages.length > 0) { %>
  <div class="alert alert-danger d-flex justify-content-between">
    <div class="alert-body">
      <% errorMessages.forEach(message => { %>
        <p><%= message %></p>
      <% }); %>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<h2 class="titleIndexAllRestaurant"><%- title %></h2>

<div class="divider">
  <img src="/images/divider/divider.jpg" class="dividerImage"/>
</div>
<div class="container text-center my-3">
  <div class="row mx-auto my-auto">
    <div class="grid-item">
      <div class="row">
        <% restaurants.forEach(restaurant => { %>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body" style="max-height: 800px;">
                <img src="<%= restaurant.image.src %>" alt="<%= restaurant.name%>" class="dish">
                <h5>Restaurant Name</h5>
                <h5 class="card-title-restuarantLink"><a href="/restaurants/<%= restaurant._id %>"><%= restaurant.name %></a></h5>
                <h5>Description</h5>
                <p><%= restaurant.description %></p>
                <h5>Categories</h5>
                <% restaurant.categories.forEach ((category) => { %>
                  <p class="type"><%= category.name %></p>
                <% }); %>
                <h5>Address</h5>
                <p class="card-text">   <span class="fw-bold">Shop Number: </span><%= restaurant.address.shopNumber %> 
                  <span class="fw-bold">Building: </span><%= restaurant.address.building %>                     
                  <span class="fw-bold">Road: </span><%= restaurant.address.road %> 
                  <span class="fw-bold">Block: </span><%= restaurant.address.block %> 
                </p>
                <p class="card-text">   <span class="fw-bold">City: </span><%= restaurant.address.city %> 
                  <span class="fw-bold">Country: </span><%= restaurant.address.country %> 
                </p>
                <h5>Over All Ratings</h5>
                <p class="card-text">
                  <% let count=0; %>
                  <% let total=0; %>
                  <% let avr=0 %>
                  <% restaurant.menu.forEach ((item, i) => { %>
                    <% item.reviews.forEach ((review , r) => { %>
                      <% total += review.rating; %>
                      <% count++;%>
                    <% }); %>
                  <% }); %>
                  <% if (total ===0) {%>
                    No Reviews Yet
                  <% }else {%>
                    <% avr= total/count %>
                    <%= parseFloat(avr.toFixed(2)) %> (<%= count %> <% if(count==1){%>review<%}else{%>reviews<%} %>)
                  <% } %>
                </p>
                <!-- if user is loged in -->
                <div class="restaurantIndexLinks">
                <% if (user) { %>
                  <!-- if user is admin -->
                  <% if(user.userType == "admin"){ %>
                    <a href="/restaurants/<%= restaurant._id %>">Details</a>
                    <a href="/restaurants/<%= restaurant._id %>/edit">Edit</a>
                  </div>
                    <form action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST">
                      <div class="form-group">
						            <button class="allUsersBtns"><img style="width: 20px;" src="/images/icons/icons/delete.png" alt="DELETE"></button>
					            </div>
                    </form>
                  <% } %>    
                <% } %>
              </div>
            </div>
          </div>
        <%}); %>
      </div>
    </div>
  </div>
</div>
</div>

<%- include('../partials/footer') %>