<%- include('../partials/header') %>

<br>
<br>
<br>
<br>
<br>

<h2><%- title %></h2>


<form id="new-form" action="/restaurants" method="POST" enctype="multipart/form-data">
  <label>name:</label>
  <input type="text" name="name" value="<%= errors?!errors.name?formBody?formBody.name:'':'':'' %>">
  <% if(errors && errors.name){ %>
    <span><%= errors.name.msg %></span>
  <%  }%>
  <!-- accuire catigories from database and show each with checkbox  -->
  <label for="">categories</label>
  <% categories.forEach((category, i) => { %>

      <input type="checkbox" name="categories[]" value="<%= category._id %>" id="category#<%= i %>">
      <label for="category#<%= i %>"><%= category.name %></label>
      
 <%}); %>
 <label for="image">image</label>
 <input type="file" id="image" name="file">
 <% if(errors && errors.file){ %>
   <span><%= errors.file.msg %></span>
 <%  }%>
  <h4>Address</h4>
  <label>shopNumber:</label>
  <input type="text" name="address.shopNumber" value="<%= errors?!errors['address.shopNumber']?formBody?formBody['address.shopNumber']:'':'':'' %>">
  <% if(errors && errors['address.shopNumber']){ %>
    <span><%= errors['address.shopNumber'].msg %></span>
  <%  }%>
  <label>building</label>   
  <input type="text" name="address.building" value="<%= errors?!errors['address.building']?formBody?formBody['address.building']:'':'':'' %>">
  <% if(errors && errors['address.building']){ %>
    <span><%= errors['address.building'].msg %></span>
  <%  }%>
  <label>road</label>   
  <input type="text" name="address.road" value="<%= errors?!errors['address.road']?formBody?formBody['address.road']:'':'':'' %>">
  <% if(errors && errors['address.road']){ %>
    <span><%= errors['address.road'].msg %></span>
  <%  }%>
  <label>city</label>   
  <input type="text" name="address.city" value="<%= errors?!errors['address.city']?formBody?formBody['address.city']:'':'':'' %>">
  <% if(errors && errors['address.city']){ %>
    <span><%= errors['address.city'].msg %></span>
  <%  }%>
  <label>block</label>   
  <input type="text" name="address.block" value="<%= errors?!errors['address.block']?formBody?formBody['address.block']:'':'':'' %>">
  <% if(errors && errors['address.block']){ %>
    <span><%= errors['address.block'].msg %></span>
  <%  }%>
  <label>country</label>   
  <input type="text" name="address.country" value="<%= errors?!errors['address.country']?formBody?formBody['address.country']:'':'':'' %>">
  <% if(errors && errors['address.country']){ %>
    <span><%= errors['address.country'].msg %></span>
  <%  }%>
  <input type="submit" value="Add Restaurant">
</form>

<%- include('../partials/footer') %>