<%- include('../partials/header') %>

<br>
<br>
<br>
<br>
<br>

<h2><%- title %></h2>


<form id="new-form" action="/restaurants" method="POST" enctype="multipart/form-data">
  <label>name:</label>
  <input type="text" name="name" required>
  <!-- accuire catigories from database and show each with checkbox  -->
  <label for="">categories</label>
  <% categories.forEach((category, i) => { %>

      <input type="checkbox" name="categories[]" value="<%= category._id %>" id="category#<%= i %>">
      <label for="category#<%= i %>"><%= category.name %></label>
      
 <%}); %>
  <label for="image">image</label>
  <input type="file" id="image" name="file">
  <h4>Address</h4>
  <label>shopNumber:</label>
  <input type="text" name="address.shopNumber">
  <label>building</label>   
  <input type="text" name="address.building">
  <label>road</label>   
  <input type="text" name="address.road">
  <label>city</label>   
  <input type="text" name="address.city">
  <label>block</label>   
  <input type="text" name="address.block">
  <label>country</label>   
  <input type="text" name="address.country">
  <input type="submit" value="Add Restaurant">
</form>

<%- include('../partials/footer') %>