<%- include('../partials/header') %>

<br>
<br>
<br>
<br>


<% if (successMessages && successMessages.length > 0) { %>
    <div class="alert alert-success d-flex justify-content-between">
      <div class="alert-body">
        <% successMessages.forEach(message => { %>
          <p><%= message %></p>
        <% }); %>
      </div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<% if (errorMessages && errorMessages.length > 0) { %>
    <div class="alert alert-danger d-flex justify-content-between">
        <div class="alert-body">
        <% errorMessages.forEach(message => { %>
            <p><%= message %></p>
        <% }); %>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<h2><%- title %></h2>

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
        <% 
            if("image" in restaurant){
                if("src" in restaurant.image){
                    if(restaurant.image.src){
                    %>
                    <img src="<%= restaurant.image.src %>" class="img-fluid" alt="<%= restaurant.name %>" referrerpolicy="no-referrer">
                    <%
                    }else{
                    %>
                        <img src="/images/restaurant.jpg" alt="restaurant image" class="dish">
                    <%
                    } 
                }else{
                    %>
                    <img src="/images/restaurant.jpg" alt="restaurant image" class="dish">
                    <%
                }
            }else{
                %>
                <img src="/images/restaurant.jpg" alt="restaurant image" class="dish">
                <%
            } 
        %>
            
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <h5 class="card-title">Title</h5>
                <p class="card-text"><%= restaurant.name %></p>
                <h5 class="card-title">Cuisine</h5>
                    <% restaurant.categories.forEach ((category) => { %>
                        <p class="card-text"><%= category.name %></p>
                    <% }); %>
                <h5 class="card-title">Description</h5>
                <p class="card-text"><%= restaurant.description %></p>
                <h5 class="card-title">Over All Rating</h5>
                <p class="card-text">
                  <% let count=0; %>
                  <% let total=0; %>
                  <% let avr=0 %>
                  <% restaurant.menu.forEach ((item, i) => { %>
                    <% item.reviews.forEach ((review , r) => { %>
                      <% total += review.rating; %>
                      <% count++;%>
                    <% }); %>
                  <% }); %>
                  <% if (total ===0) {%>
                    No Reviews Yet
                  <% }else {%>
                    <% avr= total/count %>
                    <%= parseFloat(avr.toFixed(2)) %> (<%= count %> <% if(count==1){%>review<%}else{%>reviews<%} %>)
                  <% } %>
                </p>
                <h5 class="card-title">Adress</h5>
                <p class="card-text" id="streetAddr">   
                    <span class="fw-bold">Shop Number: </span><%= restaurant.address.shopNumber %> 
                    <span class="fw-bold">Building: </span><%= restaurant.address.building %> 
                    <span class="fw-bold">Road no: </span><%= restaurant.address.road %>                      
                    <span class="fw-bold">Block: </span><%= restaurant.address.block %> 
                </p>
                <p class="card-text" id="cityCountry">  
                    <span class="fw-bold">City: </span><%= restaurant.address.city %> 
                    <span class="fw-bold">Country: </span><%= restaurant.address.country %> 
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div id="map"></div>
            <div class="" id="testaddress"></div>
        </div>
    </div>
</div>


<% if(user?.userType == "admin"){ %>
    <a class="btn btn-light" href="/restaurants/<%= restaurant._id %>/items/new">Add New Item</a>
<% } %>
<div class="card-group">
    <% restaurant.menu.forEach(item => { %>
        <div class="card mb-3" style="max-width: 400px;">
            <div class="card-head row">
                <% 
                if("image" in item){
                    if("src" in item.image){
                        if(item.image.src){
                        %>
                        <img class="col" src="<%= item.image.src %>" class="card-img-top" alt="<%= item.name %>">
                        <%
                        }else{
                        %>
                            <img class="col" src="/images/dish.jpg" alt="dish image" class="dish">
                        <%
                        } 
                    }else{
                        %>
                        <img class="col" src="/images/dish.jpg" alt="dish image" class="dish">
                        <%
                    }
                }else{
                    %>
                    <img class="col" src="/images/dish.jpg" alt="dish image" class="dish">
                    <%
                } 
                %>
            </div>
            
            <div class="card-body">
                <div class="row g-3">
                    <h5 class="col-md-6"><%= item.name %></h5>
                </div>
                <div class="row g-3">
                    <div class="col-md-6">
                        <h6>Description</h6>
                        <Discription><%= item.description %></Discription>
                    </div>
                    <div class="col-md-6">
                        <h6>Rating</h6>
                        <p class="card-text">
                        <% let count=0; %>
                        <% let total=0; %>
                        <% let avr=0 %>
                        <% item.reviews.forEach ((review , r) => { %>
                            <% total += review.rating; %>
                            <% count++;%>
                        <% }); %>
                        <% if (total ===0) {%>
                            No Reviews Yet
                        <% }else {%>
                            <% avr= total/count %>
                            <%= parseFloat(avr.toFixed(2)) %> (<%= count %> <% if(count==1){%>review<%}else{%>reviews<%} %>)
                        <% } %>
                        </p>
                    </div>
                </div>
                <% if(user?.userType == "admin"){ %>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <a class="btn btn-light" href="/restaurants/<%= restaurant._id %>/items/<%= item._id %>/edit">Edit Item</a>
                        </div>
                        <div class="col-md-6">
                            <form action="/restaurants/<%= restaurant._id %>/items/<%= item._id %>?_method=DELETE" method="post">
                                <button class="btn btn-danger">DELETE Item</button>
                            </form>
                        </div>
                    </div>
                <% } %>
                <% if(user){ %>
                    <div class="row g-3">
                        <% let review = item.reviews.find(review => JSON.stringify(review.user) == JSON.stringify(user._id));
                        
                        if(review) {%>
                            <div class="col-md-2">
                                <img src="<%= review.userAvatar %>" alt="" referrerpolicy="no-referrer">
                            </div>
                            <form class="col-md-8" action="/restaurants/<%= restaurant._id %>/items/<%= item._id %>/reviews/<%= review._id %>?_method=PUT" method="post">
                                <div class="row">
                                    <input type="hidden" name="user" value="<%= user._id %>">
                                    <input type="hidden" name="userName" value="<%= user.name %>">
                                    <input type="hidden" name="userAvatar" value="<%= user.avatar %>">
                                    <div class="col-md-7">
                                        <label for="comment">Comment</label>
                                        <textarea name="comment" id="comment"><%= review.comment %></textarea>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="rating"></label>
                                        <select name="rating" id="rating">
                                            <option value="1" <%= review.rating == 1?'selected': '' %>>*</option>
                                            <option value="2" <%= review.rating == 2?'selected': '' %>>**</option>
                                            <option value="3" <%= review.rating == 3?'selected': '' %>>***</option>
                                            <option value="4" <%= review.rating == 4?'selected': '' %>>****</option>
                                            <option value="5" <%= review.rating == 5?'selected': '' %>>*****</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-light">Update Review</button>
                                    </div>
                                </div>
                            </form>
                            <form class="col-md-2" action="/restaurants/<%= restaurant._id %>/items/<%= item._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                                <button class="btn btn-danger">DELETE Review</button>
                            </form>
                        <%}else{ %>
                            <div class="col-md-2">
                                <img src="<%= user.avatar %>" alt="" referrerpolicy="no-referrer">
                            </div>
                            <form class="col-md-10" action="/restaurants/<%= restaurant._id %>/items/<%= item._id %>/reviews/" method="post">
                                <div class="row">
                                    <input type="hidden" name="user" value="<%= user._id %>">
                                    <input type="hidden" name="userName" value="<%= user.name %>">
                                    <input type="hidden" name="userAvatar" value="<%= user.avatar %>">
                                    <div class="col-md-7">
                                        <label for="comment">Comment</label>
                                        <textarea name="comment" id="comment"></textarea>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="rating"></label>
                                        <select name="rating" id="rating">
                                            <option value="1">*</option>
                                            <option value="2">**</option>
                                            <option value="3">***</option>
                                            <option value="4">****</option>
                                            <option value="5">*****</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-light">submit</button>
                                    </div>
                                </div>
                            </form> 
                        <%}%>
                    </div>
                <%} %>
                <% if (item.reviews) {%>
                    <div class="row g-3">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-3">
                            <h7>User Name</h7>
                        </div>
                        <div class="col-md-3">
                            <h7>Comment</h7>
                        </div>
                        <div class="col-md-2">
                            <h7>Rating</h7>
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                <% }%>
                <% item.reviews.forEach((review, r) => { 
                    if(JSON.stringify(review.user) != JSON.stringify(user?._id)){%>
                        <div class="row g-3">
                            <div class="col-md-2">
                                <img class="rounded" src="<%= review.userAvatar %>" alt="" referrerpolicy="no-referrer">
                            </div>
                            <div class="col-md-3">
                                <p><%= review.userName %></p>
                            </div>
                            <div class="col-md-3">
                                <p><%= review.comment %></p>
                            </div>
                            <div class="col-md-2">
                                <p><%= review.rating %></p>
                            </div>
                            <% if(user?.userType == "admin") { %>
                                <div class="col-md-2"> 
                                    <form action="/restaurants/<%= restaurant._id %>/items/<%= item._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                                            <button class="btn btn-danger">DELETE Review</button>
                                    </form>
                                </div>
                            <% } %>
                        </div>
                <% }}); %>
            </div>
        </div>
    <% }); %>
</div>
<%- include('../partials/footer') %>